.App {
  font-family: sans-serif;
  text-align: center;
}

.Game__board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Game__board button {
  font-size: 4rem;
  line-height: 0;
}
button {
  cursor: pointer;
}

.active {
  color: #000;
  transition: color 0.5s;
  border: 1px solid #aaa;
}

.unactive {
  color: rgba(1, 1, 1, 0);
  background-color: #ddd;
  border: 1px solid #aaa;
}
.unactive:hover {
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 0.3s;
}

.x {
  background-color: #faa0a4;
  transition: background-color 0.2s;
}

.o {
  background-color: #99aff5;
  transition: background-color 0.2s;
}
